{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main>
    <div class="btn-up btn-up_hide"></div>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis voluptas odit totam. Vitae ex dicta
        accusantium sunt pariatur, et, ullam alias esse placeat ducimus omnis voluptatibus consectetur eveniet mollitia?
        Beatae, molestias hic magnam maiores sint nihil quidem. Velit, nobis optio! Earum labore amet molestiae ipsa
        explicabo! Quam magni fuga quaerat dolor, accusamus deserunt ipsam provident ab dolore culpa natus voluptas
        maxime nesciunt temporibus voluptatum aliquam sunt, neque voluptate optio! Nesciunt aliquid dolore ipsa,
        accusantium iusto vitae eligendi placeat consectetur. Sint aspernatur iusto, cum necessitatibus optio unde quia
        aliquid tempore distinctio ex. Reiciendis corrupti repellendus vero, quas quam laudantium repellat dolor, esse
        dolore provident rerum laboriosam ab asperiores beatae? Omnis blanditiis quis inventore odio hic. Reiciendis,
        perferendis eum! Repellat sunt, nulla deserunt libero reiciendis iusto consequuntur nihil vero. Officia dolor a
        quo voluptate rem harum maxime voluptatum. Cumque voluptate tempore tenetur? Nam possimus explicabo ipsa,
        delectus esse odit at adipisci magnam.</div>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis voluptas odit totam. Vitae ex dicta
        accusantium sunt pariatur, et, ullam alias esse placeat ducimus omnis voluptatibus consectetur eveniet mollitia?
        Beatae, molestias hic magnam maiores sint nihil quidem. Velit, nobis optio! Earum labore amet molestiae ipsa
        explicabo! Quam magni fuga quaerat dolor, accusamus deserunt ipsam provident ab dolore culpa natus voluptas
        maxime nesciunt temporibus voluptatum aliquam sunt, neque voluptate optio! Nesciunt aliquid dolore ipsa,
        accusantium iusto vitae eligendi placeat consectetur. Sint aspernatur iusto, cum necessitatibus optio unde quia
        aliquid tempore distinctio ex. Reiciendis corrupti repellendus vero, quas quam laudantium repellat dolor, esse
        dolore provident rerum laboriosam ab asperiores beatae? Omnis blanditiis quis inventore odio hic. Reiciendis,
        perferendis eum! Repellat sunt, nulla deserunt libero reiciendis iusto consequuntur nihil vero. Officia dolor a
        quo voluptate rem harum maxime voluptatum. Cumque voluptate tempore tenetur? Nam possimus explicabo ipsa,
        delectus esse odit at adipisci magnam.</div>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis voluptas odit totam. Vitae ex dicta
        accusantium sunt pariatur, et, ullam alias esse placeat ducimus omnis voluptatibus consectetur eveniet mollitia?
        Beatae, molestias hic magnam maiores sint nihil quidem. Velit, nobis optio! Earum labore amet molestiae ipsa
        explicabo! Quam magni fuga quaerat dolor, accusamus deserunt ipsam provident ab dolore culpa natus voluptas
        maxime nesciunt temporibus voluptatum aliquam sunt, neque voluptate optio! Nesciunt aliquid dolore ipsa,
        accusantium iusto vitae eligendi placeat consectetur. Sint aspernatur iusto, cum necessitatibus optio unde quia
        aliquid tempore distinctio ex. Reiciendis corrupti repellendus vero, quas quam laudantium repellat dolor, esse
        dolore provident rerum laboriosam ab asperiores beatae? Omnis blanditiis quis inventore odio hic. Reiciendis,
        perferendis eum! Repellat sunt, nulla deserunt libero reiciendis iusto consequuntur nihil vero. Officia dolor a
        quo voluptate rem harum maxime voluptatum. Cumque voluptate tempore tenetur? Nam possimus explicabo ipsa,
        delectus esse odit at adipisci magnam.</div>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis voluptas odit totam. Vitae ex dicta
        accusantium sunt pariatur, et, ullam alias esse placeat ducimus omnis voluptatibus consectetur eveniet mollitia?
        Beatae, molestias hic magnam maiores sint nihil quidem. Velit, nobis optio! Earum labore amet molestiae ipsa
        explicabo! Quam magni fuga quaerat dolor, accusamus deserunt ipsam provident ab dolore culpa natus voluptas
        maxime nesciunt temporibus voluptatum aliquam sunt, neque voluptate optio! Nesciunt aliquid dolore ipsa,
        accusantium iusto vitae eligendi placeat consectetur. Sint aspernatur iusto, cum necessitatibus optio unde quia
        aliquid tempore distinctio ex. Reiciendis corrupti repellendus vero, quas quam laudantium repellat dolor, esse
        dolore provident rerum laboriosam ab asperiores beatae? Omnis blanditiis quis inventore odio hic. Reiciendis,
        perferendis eum! Repellat sunt, nulla deserunt libero reiciendis iusto consequuntur nihil vero. Officia dolor a
        quo voluptate rem harum maxime voluptatum. Cumque voluptate tempore tenetur? Nam possimus explicabo ipsa,
        delectus esse odit at adipisci magnam.</div>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis voluptas odit totam. Vitae ex dicta
        accusantium sunt pariatur, et, ullam alias esse placeat ducimus omnis voluptatibus consectetur eveniet mollitia?
        Beatae, molestias hic magnam maiores sint nihil quidem. Velit, nobis optio! Earum labore amet molestiae ipsa
        explicabo! Quam magni fuga quaerat dolor, accusamus deserunt ipsam provident ab dolore culpa natus voluptas
        maxime nesciunt temporibus voluptatum aliquam sunt, neque voluptate optio! Nesciunt aliquid dolore ipsa,
        accusantium iusto vitae eligendi placeat consectetur. Sint aspernatur iusto, cum necessitatibus optio unde quia
        aliquid tempore distinctio ex. Reiciendis corrupti repellendus vero, quas quam laudantium repellat dolor, esse
        dolore provident rerum laboriosam ab asperiores beatae? Omnis blanditiis quis inventore odio hic. Reiciendis,
        perferendis eum! Repellat sunt, nulla deserunt libero reiciendis iusto consequuntur nihil vero. Officia dolor a
        quo voluptate rem harum maxime voluptatum. Cumque voluptate tempore tenetur? Nam possimus explicabo ipsa,
        delectus esse odit at adipisci magnam.</div>
</main>

{{!
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    }}