{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main>
    <div class="nav">
        <button class="nav__button" id="back">
            <img src="/svg/left.svg" alt="">
        </button>
        <button class="nav__button" id="forward">
            <img src="/svg/right.svg" alt="">
        </button>
        <button class="nav__button" id="reload">
            <img src="/svg/return.svg" alt="">
        </button>
        <button class="nav__button" id="home">
            <img src="/svg/home.svg" alt="">
        </button>
        <input type="text" class="nav__input" id="input">
        <button class="nav__button" id="go">
            <img src="/svg/play.svg" alt="">
        </button>
    </div>
</main>

{{!
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    }}