main{
padding: 60px;
display: flex;
justify-content: center;
}

.nav{
padding: 24px;
border-radius: 60px;
max-width: 620px;
width: 100%;
background-image: url(/img/ff.jpg);
background-size: no-repeat;
background-position: top;
background-size: cover;

display: flex;
gap: 16px;

		&__button{
			// display: flex;
			// justify-content: space-between;
			margin: 15px;
		padding-bottom: 50px;
		width: 24px;
		height: 24px;

		transition: 0.7s;
			&:hover{
			opacity: 0.7;
			}
}

&__input {
	background-image: none;
	border: 3px solid #fff;
background-color:rgba(24, 23, 21, 0.8);
border-radius:60px;
padding:0 20px;
color:white;
width: 100%;
font-size: 30px;
}
}